.container{
    /* border: 1px solid red; */
    width: 100%;
    padding-top: 3%;
    background-color: #FEF9F7;
    
}
.top1{
    /* border: 1px solid grey; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
   
}
.top1 > p{
    font-size: 18px;
    font-weight: 500;
}
.newBtn{
    background-color: #f64be2;
    padding: 5px;
    border-radius: 10px;
    width: 127px;
    height: 36px;
    color: white;
    font-weight: 500;    
}
.newBtn:hover{
    background-color:#C463BA
}

.top2{
    border: 1px solid grey;
    padding: 10px 0px 10px 30px;
    background-color: #ffff;
    display: flex;
    gap: 20px;
}
.filter{
    /* border: 1px solid red; */
    font-size: 16px;
    font-family: sans-serif;
    /* font-weight: 550; */
    padding-top: 5px;
    color: #95899B;
    display: flex;
    gap: 20px;
}
.filter>div{
    display:flex ;
    gap: 10px;
    
}
.filter>div:hover{
    color: black;
    cursor: pointer;
}
.top3{
    /* border: 1px solid red; */
    margin-top: 25px;
    background-color: #ffff;
    padding: 20px;
}
.bulkBtn{
    border: 1px solid grey;
    padding: 5px;
    display: flex;
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.title>div{
    font-size: 12px;
    font-weight: bold;
    color: grey;
    display: flex;
}
.title>div:hover{
    cursor: pointer;
}
.map{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    padding: 20px 0px 20px 0px;
    background-color: #ffff;
}
.map>div:hover{
    cursor: pointer;
}