.container{
    /* border: 1px solid red; */
    width:80%;
    /* margin:auto; */
    padding-top: 3%;
    /* margin-right: -30%; */
    background-color: #FEF9F7;

}
.first{
    border:"1px solid red";
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    justify-content: space-between;
}
.first>div>input{
    margin-left: 30px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 7px;
}
.first>div{
    font-weight: 500;
}
.btn{
    /* border: 1px solid red; */
    padding: 5px 10px 5px 10px;
    background-color: #DD6FD1;
    color: white;
    border-radius: 7px;
}
.btn:hover{
    background-color: #C463BA;
}
.all{
    background-color: #fff;
    padding: 15px 20px 10px 20px;
    margin-top: 30px;
    border-bottom: 0.5px solid rgb(211, 211, 211);
    font-weight: 500;
    font-size: 15px;
}
.client{
    /* border: 1px solid red; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
    background-color: #fff;
    display: flex;
    gap: 10px;
}
.client>div{
    /* border:  1px solid red; */
    padding: 5PX;
}
