.career_h1 {
    
    text-align: start;
    margin-left: 10px;
    
    color: #817187;
    font-size: 15px;
    font-weight: bold;
  }
  .career_main2 {
    display: flex;
  }
  .career_main3 {
    display: flex;
    width: 350px;
  }
  .career_main4 {
    display: flex;
    width: 350px;
  }
  .career_img1 {
    margin-left: 10px;
    margin-right: 20px;
    width:40px;
    height: 40px;
    margin-top: 10px;
  }
  .career_h2 {
    color: #412a4c;
    text-align: start;
    font-size: 17px;
    font-weight: bold;
  }
  .career_h3 {
    color: #817187;
   
    text-align: start;
    font-size: 15px;
  }
  .career_main1 {
    margin-top: 20px;
    background-color: rgb(252, 229, 216);
    padding-bottom: 20px;
  }
  .career_main2 {
    margin-top: 30px;
  }
  .career_img2 {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    width:40px;
    height: 40px;
  }
  .career_h4 {
   
    color: #412a4c;
    text-align: start;
    font-size: 17px;
    font-weight: bold;
  }
  .career_h5 {
    color: #817187;
    
    text-align: start;
    font-size: 15px;
  }