.product_main2{
    
   width: 65%;
   
   border-right: 1px solid #d7cddb;
   padding: 30px;
   
}
.product_main3{
   
   width:35%;
   padding: 30px;
   
}

.product_main1{
z-index: 10;
    background-color:rgb(252, 229, 216);
    display: flex;
    
margin: 0px;
    width: 100%;
    
}
.product_p{
    
    color:#817187 ;
    font-size: 15px;
    font-weight: bold;
    text-align: start;

}
.product_content1{
    display: flex;
    width: 345px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}
.product_img1{
    
    margin-top: 10px;
width: 50px;
height: 50px;
}
.product_sub3{
    background-color: white;
    padding: 20px;
    width: 98%;
    
    margin-top: 30px;
}
.product_para1{
    color:black;
    font-weight: bold;
    font-size: 15.5px;

}
.product_para{
    color: black;
    margin-left: 20px;
}
.product_sub1{
display: flex;
width: 90%;
justify-content: space-between;
}