.track_main2{
    display: flex;
    background-color: rgb(252, 229, 216);
  /* margin-right: 100px; */
  width:80%;
  justify-content: space-between;
  margin-left: 20px;
}
.track_sub1{
    display: flex;
    width:350px;
}
.track_sub2{
    display: flex;
    /* margin-left: 10px; */
    width:320px;
}
.track_img1{
    /* margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px; */
    margin-left: 10px;
    margin-right: 20px;
    width:40px;
    height: 40px;
    margin-top: 10px;
}
.track_h1{
    color: #412a4c;
    text-align: start;
    font-size: 17px;
    font-weight:bold;

}
.track_h2{
    color: #817187;
    /* margin-top: -20px; */
    text-align: start;
    font-size: 15px;

}
.track_sub3{
    background-color: white;
    padding: 20px;
    width: 90%;
    margin: 40px;
}
.track_para{
    color:black;
    font-weight: bold;
    font-size: 15.5px;

}
.track_p{
    font-weight:bold;
    margin: 30px;
    color:#817187 ;
    font-size: 17px;
    text-align: start;
}
/* .track_main{ */
    /* margin-top: 40px; */
    /* width: 10%; */
/* border:1px solid black; */
/* } */